/*body {
    font-family: Verdana, serif;
    margin: 0;
    padding: 0;
  }*/
  
  .leave-section {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  
  .leave-rating {
    display: inline;
    padding: 20px;
    border-radius: 10px;
    width: 45%;
  }
  
 
  
  .form-group {
    margin-bottom: 20px;
    top: 260px;
    left: 750px;
    font-weight: bold;
  
  }
  
  #rating {
    margin-bottom: 15px;
    border-radius: 8px;
  }
  
  .stars {
    color: gold;
    font-size: 18px;
  }
  
 p {
    margin: 10px 0;
  }
  
  .date {
    font-size: 12px;
    color: gray;
  }
  
  form label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    font-family: Verdana, serif;
    width: 70%;
  }
  
  textarea {
    max-width: 100%;
    width: 70%;
    height: 40%;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .stars-input {
    font-size: 18px;
    color: gold;
    margin-bottom: 20px;
  }
  
  #botoncomentarios {
    background-color: #F09100;
    color: white;
    border: none;
    padding: 3px 20px;
    border-radius: 20px;
    cursor: pointer;
  
  }
  
  #botoncomentarios:hover {
    background-color: #F09100;
  }
  
  #agregarComentario {
    display: inline-block;
    padding: 3% 15%;
    font-size: 15px; /* Tamaño de fuente para la descripción del producto */
    width: 70%; 
  }

  #nomUsuario {
    width: 70%;
  }

  .rating-section {
    font-size: 15px; /* Tamaño de fuente para la descripción del producto */
    width: 70%; 
  }